@*@{
    var result = "";
    if (IsPost)
    {
        var firstName = Request["FullName"];
        var lastName = Request["email"];
        var email = Request["Email"];

        var userData = firstName + "," + lastName +
            "," + email + Environment.NewLine;

        var dataFile = Server.MapPath("~/App_Data/data.txt");
        File.WriteAllText(@dataFile, userData);
        result = "Information saved.";
    }
}*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IGCwebsite</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        @*topbar*@
        <div class="topbar">
            <span>
                <a href="tel:+31654313771">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>  tel:+31 654 31 3771
                </a>
            </span>
            <span>
                <a href="mailto: info@igrowchicken.com">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                    </svg> info@igrowchicken.com
                </a>
            </span>
        </div>

        @*navbar*@
        <nav class="navbar navbar-expand-lg navbar-light border-bottom box-shadow" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/lib/img/image-removebg-preview.png" height="70" alt="Alternate Text" />I Grow chicken</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FarmModule">Our Products</a>
                        </li>
                        @*<li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Our Products
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="FarmModule">Farm</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Feedmill">Feedmill</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Hatchery">Hatchery</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Processes">Primary and Secondary Processes</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SupplyChain">Supply Chain Management</a>
                                </div>
                            </li>*@

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="NewsandUpdates">News and Updates</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogIn">Login</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop" asp-area="" asp-controller="Home" asp-action="">Book Demo</a>
                        </li>
                        <li class="nav-item">
                            <select id="selectpicker" class="selectpicker" runat="server" data-width="fit">
                                <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                                <option data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="myBody">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Book Demo
        </button>*@

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <center><h1 class="modal-title fs-5" id="staticBackdropLabel">Book Demo</h1></center>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid register">
                        <div class="row">
                            <div class="col-md-3 register-left">
                                <img src="/lib/img/logoyellow-removebg-preview.png" style="width:130px!important;" height="130" alt="" />
                                <h3 style="color:whitesmoke;"><strong>Welcome</strong></h3>
                                <p>You are 30 seconds away from improving your farm!</p>
                            </div>
                            <div class="col-md-9 register-right">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <h3 class="register-heading">Please enter your details</h3>
                                        <div class="row register-form">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" runat="server" id="txtFullNames" class="form-control" placeholder="Full Names *" value="" required />
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" runat="server" id="txtemail" class="form-control" placeholder="Email Address*" value="" required />
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" runat="server" id="txtCompanyName" class="form-control" placeholder="Company Name *" value="" required />
                                                </div>

                                                <div class="form-group">
                                                    <input type="text" runat="server" id="txtPhone" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Phone Number*" value="" required />
                                                </div>
                                                <div class="form-group">
                                                    <label>What areas do you want to use with our ERP?</label>
                                                    <div class="maxl">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                            <label class="form-check-label" for="flexCheckDefault">
                                                                Layer, Broiler and Breeder Farm
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                                            <label class="form-check-label" for="flexCheckChecked">
                                                                Grand Parent Farm
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                                            <label class="form-check-label" for="flexCheckChecked">
                                                                Parent Stock Layer
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                                            <label class="form-check-label" for="flexCheckChecked">
                                                                Finances
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control">
                                                        <option class="hidden" selected disabled>Please select a Time Slot</option>
                                                        <option>20mins</option>
                                                        <option>30mins</option>
                                                        <option>1hour</option>
                                                        <option>1hour 30 mins</option>
                                                        <option>2hours</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">

                                                </div>
                                                <div class="form-group">
                                                    <label>Any additional information about your farm</label>
                                                    <textarea maxlength="90"></textarea>
                                                    @*<textarea data-val="true" data-val-maxlength="The field MainText must be a string or array type with a maximum length of &#x27;300&#x27;."
                                                                      data-val-maxlength-max="10"
                                                                      id="MainText"
                                                                      name="MainText">
                                                        </textarea>*@
                                                </div>
                                                <input type="submit" class="btnRegister" value="Book" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">BOOK</button>*@
                </div>
            </div>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <center>
                        @*<h6>POULTRY ERP MODULES</h6>
                            <ul>
                                <li><a class="#" asp-area="" asp-controller="Home" asp-action="BreederFarm">Breeder Farm</a></li>
                                <li> <a class="#" asp-area="" asp-controller="Home" asp-action="BroilerFarm">Boiler Farm</a></li>
                                <li><a class="#" asp-area="" asp-controller="Home" asp-action="LayerFarm">Layer Farm</a></li>
                                <li><a class="#" asp-area="" asp-controller="Home" asp-action="LayerFarm">Hatchery Management</a></li>
                                <li><a class="#" asp-area="" asp-controller="Home" asp-action="LayerFarm">FeedMill</a></li>
                                <li><a class="#" asp-area="" asp-controller="Home" asp-action="LayerFarm">Primary and Secondary Processing</a></li>
                                <li><a class="#" asp-area="" asp-controller="Home" asp-action="LayerFarm">Supply Chain Management</a></li>
                            </ul>*@
                        <h6>CONTACT US</h6>
                        <ul>
                            <li>
                                <a href="tel:+31654313771">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                    </svg>  tel:+31 654 31 3771
                                </a>
                            </li>
                            <li>
                                <a href="mailto: info@igrowchicken.com">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                    </svg> info@igrowchicken.com
                                </a>
                            </li>
                        </ul>
                    </center>

                </div>
                <div class="col-lg-4">
                    <center>
                        <h6>Our Locations</h6>
                        <ul>
                            <li>
                                <p>The Netherlands</p>
                                <p>
                                    Wagenweg 222
                                </p>
                                <p>
                                    2012 NM Haarlem
                                </p>

                            </li>
                        </ul>

                    </center>
                </div>
                <div class="col-lg-4">
                    <center>
                        <h6>TERMS AND CONDITIONS</h6>
                        <ul>
                            <li>
                                <a href="/lib/pdffiles/IGC.pdf">
                                    <p>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="70" fill="currentColor" class="bi bi-file-pdf" viewBox="0 0 16 16">
                                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z" />
                                            <path d="M4.603 12.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.701 19.701 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.187-.012.395-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.065.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.716 5.716 0 0 1-.911-.95 11.642 11.642 0 0 0-1.997.406 11.311 11.311 0 0 1-1.021 1.51c-.29.35-.608.655-.926.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.27.27 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.647 12.647 0 0 1 1.01-.193 11.666 11.666 0 0 1-.51-.858 20.741 20.741 0 0 1-.5 1.05zm2.446.45c.15.162.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.881 3.881 0 0 0-.612-.053zM8.078 5.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z" />
                                        </svg>
                                    </p>
                                    <p>
                                        Terms and Conditions
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </center>
                </div>
            </div>
            <div class="end">
                <center>
                    &copy; 2022 - IGCwebsite
                </center>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>

        //update this with your js_form selector
        var form_id_js = "javascript_form";

        var data_js = {
            "access_token": "4t1nxa2hf30gfuvy3g5cq2bh"
        };

        function js_onSuccess() {
            // remove this to avoid redirect
            window.location = window.location.pathname + "?message=Email+Successfully+Sent%21&isError=0";
        }

        function js_onError(error) {
            // remove this to avoid redirect
            window.location = window.location.pathname + "?message=Email+could+not+be+sent.&isError=1";
        }

        var sendButton = document.getElementById("myBtnSubmit");

        function js_send() {
            sendButton.value = 'Sending…';
            sendButton.disabled = true;
            var request = new XMLHttpRequest();
            request.onreadystatechange = function () {
                if (request.readyState == 4 && request.status == 200) {
                    js_onSuccess();
                } else
                    if (request.readyState == 4) {
                        js_onError(request.response);
                    }
            };
            var txtFullNames = document.getElementById("txtFullNames");
            var txtEmail = document.getElementById("txtEmail").value;
            var txtCompany = document.getElementById("txtCompany").value;
            var txtPhone = document.getElementById("txtPhone").value;
            var flexCheckDefault = document.getElementById("flexCheckDefault").value;
            var timeSlot = document.getElementById("timeSlot").value;
            var Remarks = document.getElementById("Remarks").value;
            var subject = "DEMO HAS BEEN REQUESTED";
            /*var test = document.*/
            /*var message = txtFullNames.value + ' ' + txtEmail + ' ' + txtCompany + ' ' + txtPhone + ' ' + flexCheckDefault + ' ' + timeSlot +' '+ Remarks;*/
            /*var message = document.getElementById("email").innerHTML;*/

             document.body.innerHTML = `<html lang="en">
                            <head>
                                <meta charset="UTF-8">
                                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
                                <title>IGROWCHICKEN</title>
                            </head>
                            <body>
                                <div class="row">
                                    <div class="col-6">

                                    </div>
                                    <div class="col-6">
                                        <h2 style="color:orangered;">Good News!</h2>
                                        <p>txtFullNames Requested a Demo</p>
                                        <h3>Personal Details</h3>
                                        <p>
                                            <ul>
                                                <li>FullNames : txtCompanyName</li>
                                                <li>Email: txtEmailAddress</li>
                                                <li>CompanyName: txtCompanyName</li>
                                                <li>Phone Number: txtPhone</li>
                                            </ul>
                                        </p>
                                        <p>Areas interested in are:
                                            <ul>
                                                <li>Layer, Broiler and Breeder Farm</li>
                                                <li>Grand Parent Farm</li>
                                            </ul>
                                            for <span style="background-color:#fcc200 ;"><strong>txtspan</strong></span>  on <span style="background-color:#fcc200 ;"><strong>txtCalender</strong></span>
                                        </p>
                                        <p>
                                            <strong><h5 class="small" >Additional information about their farm</h5></strong>
                                            <p>
                                                txtRemarks
                                            </p>
                                        </p>
                                    </div>
                                </div>
                            </body>
                            </html>`
            var message = document.body.innerHTML;
            
            data_js['subject'] = subject;
            data_js['text'] = message;
            
            var params = toParams(data_js);

            request.open("POST", "https://postmail.invotes.com/send", true);
            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            request.send(params);

            return false;
        }

        sendButton.onclick = js_send;

        function toParams(data_js) {
            var form_data = [];
            for (var key in data_js) {
                form_data.push(encodeURIComponent(key) + "=" + encodeURIComponent(data_js[key]));
            }

            return form_data.join("&");
        }

        var js_form = document.getElementById(form_id_js);
        js_form.addEventListener("submit", function (e) {
            e.preventDefault();
        });
    </script>
    @RenderSection("Scripts", required: false)

</body>
@*password nlbj2kksowibnvk3fpswdavgw4cv5eer6k7h2l7egisihsnwyy2q*@
</html>
