@{
    ViewData["Title"] = "Privacy Policy";
}
@*ABOUT US*@
<div class="container About-us" style="margin:10px;">
    <div class="row myAbout">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-8 col-sm-8 ">
            <center><h4>OUR POULTRY MANAGEMENT SOFTWARE</h4></center>
            <p>
                I Grow Chicken emerged because we found that many integrations were not
                realizing their potential. To us there are 2 sides to the coin, a technical side
                and a commercial/financial side.
            </p>
            <p>
                By integrating these 2 sides data can be combined much quicker and allows
                the user to make interesting discoveries. Based on the methodologies
                acquired in 20+ years of supporting customers achieve the most out of their
                operations, IGC delivers actionable information.
            </p>
            <p>
                Support. Direct line to support, so quick responses from people that know
                your business
            </p>
            <p>
                Hands-on training, in order for any system to be effective people must know
                what needs to be done and when and why. So our training not only focusses
                on the how, but also supports in techniques for making better analyses
                based on lean and six sigma methodology
            </p>
            <p>
                We continuously add functionality. Based on the demand of our customers
                new functionalities are integrated, and when relevant to the wider community
                made available
            </p>
        </div>
        <div class="col-lg-3 col-sm-3 ">
            <center>
                <img class="img-fluid myAboutLogo" src="~/lib/img/logoyellow-removebg-preview.png" alt="Alternate Text" />

            </center>
        </div>

        <div class="ourCustomers">
            <center><h4>MAIN CUSTOMERS OF IGC</h4></center>  
        </div>
    </div>
</div>