
@{
    ViewData["Title"] = "BookingDemo";
}
<div class="row ">
    <div class="col-6">

    </div>
    <div class="col-6">
        <h2 style="color:orangered;">Good News!</h2>
        <p  id="email">{txtFullNames} Requested a Demo</p>
        <h3>Personal Details</h3>
        <p>
            <ul>
                <li>FullNames : txtCompanyName</li>
                <li>Email: txtEmailAddress</li>
                <li>CompanyName: txtCompanyName</li>
                <li>Phone Number: txtPhone</li>
            </ul>
        </p>
        <p>
            Areas interested in are:
            <ul>
                <li>Layer, Broiler and Breeder Farm</li>
                <li>Grand Parent Farm</li>
            </ul>
            for <span style="background-color:#fcc200 ;"><strong>txtspan</strong></span>  on <span style="background-color:#fcc200 ;"><strong>txtCalender</strong></span>
        </p>
        <p>
            <strong><h5 class="small">Additional information about their farm</h5></strong>
        <p>
            txtRemarks
        </p>
        </p>
    </div>
</div>
<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Book Demo
</button>

<!-- Modal -->
<!--<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <center><h1 class="modal-title fs-5" id="staticBackdropLabel">Book Demo</h1></center>  
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid register">
                    <div class="row">
                        <div class="col-md-3 register-left">
                            <img src="/lib/img/logoyellow-removebg-preview.png" style="width:130px!important;" height="130" alt="" />
                            <h3 style="color:whitesmoke;"><strong>Welcome</strong></h3>
                            <p>You are 30 seconds away from improving your farm!</p>
                        </div>
                        <div class="col-md-9 register-right">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <h3 class="register-heading">Please enter your details</h3>
                                    <div class="row register-form">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Full Names *" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email Address*" value="" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Company Name *" value="" />
                                            </div>

                                            <div class="form-group">
                                                <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Phone Number*" value="" />
                                            </div>
                                            <div class="form-group">
                                                <label>What areas do you want to use with our ERP?</label>
                                                <div class="maxl">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                        <label class="form-check-label" for="flexCheckDefault">
                                                            Layer, Broiler and Breeder Farm
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                                        <label class="form-check-label" for="flexCheckChecked">
                                                            Grand Parent Farm
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                                        <label class="form-check-label" for="flexCheckChecked">
                                                            Parent Stock Layer
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                                        <label class="form-check-label" for="flexCheckChecked">
                                                            Finances
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option class="hidden" selected disabled>Please select a Time Slot</option>
                                                    <option>20mins</option>
                                                    <option>30mins</option>
                                                    <option>1hour</option>
                                                    <option>1hour 30 mins</option>
                                                    <option>2hours</option>
                                                </select>
                                            </div>
                                            <div class="form-group">

                                            </div>
                                            <div class="form-group">
                                                <label>Any additional information about your farm</label>
                                                <textarea data-val="true" data-val-maxlength="The field MainText must be a string or array type with a maximum length of &#x27;300&#x27;."
                                                          data-val-maxlength-max="10"
                                                          id="MainText"
                                                          name="MainText">
                                                </textarea>
                                            </div>
                                            <input type="submit" class="btnRegister" value="Book" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
                @*<button type="button" class="btn btn-primary">BOOK</button>*@
            </div>
        </div>
    </div>
</div>-->





